.card,
.category {
  border-radius: 20px;
}

.card {
  height: 350px;
  overflow: hidden;
  position: relative;
}

.poster {
  transition: all 0.2s;
}

.card:hover .poster {
  transform: scale(1.1);
}

.overlay {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.info {
  left: 24px;
  right: 24px;
  bottom: 24px;
  position: absolute;
}

.category {
  font-size: 14px;
  padding: 4px 8px 4px 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.rate {
  margin: 16px 0 16px 0;
}

.rate > span {
  margin-right: 2px;
}

.rate > span:last-child {
  margin-right: 0;
}
