.layout {
  display: flex;
  height: inherit;
}

.content {
  z-index: 1;
  flex: 1;
  padding: 80px;
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .content {
    padding: 40px;
  }
}
