.layout {
  display: flex;
}

.content {
  width: 100%;
  padding: 80px;
  overflow-y: auto;
  margin-left: 316px;
}

@media screen and (max-width: 992px) {
  .content {
    padding: 40px;
    margin-left: 0;
  }
}
