.layout {
  display: flex;
}

.content {
  margin-left: 316px;
  overflow-y: auto;
  padding: 80px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .content {
    margin-left: 0;
    padding: 40px;
  }
}
