.slider > *,
.slider img,
.miniInfo > *,
.trailer {
  border-radius: 20px;
}

.slider {
  height: 425px;
}

.slider > * {
  height: 100%;
}

.overview {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0 20px 0;
}

.miniInfo {
  display: flex;
  flex-wrap: wrap;
}

.miniInfo > * {
  display: flex;
  padding: 10px;
  margin-right: 10px;
  background-color: #d22f27;
}

@media screen and (max-width: 768px) {
  .miniInfo > span {
    margin-bottom: 10px;
  }
}

.miniInfo svg {
  margin-right: 6px;
}

.trailer {
  width: 100%;
  height: 600px;
}
