.leftside {
  width: 370px;
  padding: 80px 0 0 80px;
  overflow-y: auto;
  border-right: 2px solid #24252a;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .leftside {
    display: none;
  }
}

.leftside > * svg {
  margin-right: 10px;
}

.leftside::-webkit-scrollbar {
  display: none;
}

.logo {
  display: flex;
  font-size: 24px;
}

.nav {
  margin-top: 80px;
  color: #696972;
}

.title {
  color: #9696a3;
}

.active {
  color: #fff;
}

.nav > * {
  display: flex;
  margin-bottom: 50px;
  transition: all 0.2s;
}

.nav > *:last-child {
  margin-bottom: 0;
}

.nav > a:hover {
  color: #fff;
}
