.leftside {
  border-right: 2px solid #24252a;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  overflow-y: auto;
  padding: 80px;
  position: fixed;
}

@media screen and (max-width: 992px) {
  .leftside {
    display: none;
  }
}

.leftside svg,
.leftside img {
  margin-right: 10px;
}

.leftside::-webkit-scrollbar {
  display: none;
}

.logo {
  align-items: center;
  display: flex;
  font-size: 24px;
  height: 60px;
}

.nav {
  color: #83838c;
}

.nav > span > img {
  border-radius: 100px;
  width: 18px;
}

.title {
  color: #9696a3;
  margin-top: 80px;
}

.nav > * {
  cursor: pointer;
  display: flex;
  margin-bottom: 50px;
  transition: all 0.2s;
}

.nav > a:hover {
  color: #fff;
}
