.navbar {
  align-items: center;
  color: #989898;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 80px;
}

@media screen and (max-width: 992px) {
  .navbar {
    margin-bottom: 40px;
  }
}

.menu > a {
  margin-right: 40px;
}

.menu > a:last-child {
  margin-right: 0;
}

.search {
  align-items: center;
  border: 1px solid #989898;
  border-radius: 20px;
  display: flex;
  height: 100%;
}

.search svg {
  margin: 0 20px 0 20px;
}

.search input {
  background: none;
  border: none;
  color: #989898;
  font-weight: bold;
  outline: none;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .navbar {
    align-items: baseline;
    flex-direction: column;
    height: 140px;
  }

  .menu > a {
    display: flex;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
