.navbar {
  height: 60px;
  display: flex;
  font-size: 24px;
  color: #989898;
  font-weight: bold;
  align-items: center;
  margin-bottom: 80px;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .navbar {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

.menu > a {
  margin-right: 40px;
}

.menu > a:last-child {
  margin-right: 0;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border-width: 0.5px;
  border: 1px solid #989898;
}

.search svg {
  margin: 0 20px 0 20px;
}

.search input {
  border: none;
  height: 60px;
  outline: none;
  background: none;
  color: #989898;
  max-width: 200px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .search {
    height: 60px;
    margin-top: 15px;
  }

  .search input {
    height: 40px;
  }
}
