@import "reset.css";
@import "formalize.css";
@import "normalize.css";

body,
#__next {
  height: 100vh;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #191a1f;
}

a {
  color: inherit;
}

.swiper-pagination-bullet-active {
  background-color: #d22f27 !important;
}
