@import "reset.css";
@import "formalize.css";
@import "normalize.css";

body,
#__next {
  height: 100vh;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #191a1f;
}

a {
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #d22f27 !important;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.slider > * {
  border-radius: 20px;
}
